<html>
 <head>
        <title>Django boyz blog</title>
    </head>
    <body>

    <h1>DJANGO BOYZ THE BEST</h1>
<div>
<h1></h1>
<h6>fenomenali</h6>
<ul><li>pizza 5,00$</li><li>pasta 6,00$</li><li>mandolino (clicca il link sotto) </li></ul>
<a href=https://cdn.pixabay.com/photo/2013/07/12/12/11/lute-145279_960_720.png>musicista professionale</A>
 <div>

<div>
<h1>il nucc :(</h1>
<h6>sta male</h6>
<div>
<strong>ballo di fortnite</strong>
<a href=https://i.pinimg.com/originals/88/1b/52/881b52e643e77f3e487dd63d57451b90.jpg>looser text</A>

<h4>tu-tututututuru-turururu</h4>
{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
</body>
</html> 

